* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-image: url(https://photos.com/featured/cumulus-clouds-in-a-clear-blue-sky-laurance-b-aiuppy.html);
}


.clouds {
   
    margin: 0 auto;
    width: 1520px;
    height: 753px;
}

.airplane {
    margin-left: -70px;
    width: 250px;
    margin-top: -160px;

    animation-name: airplaneAnimate;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes airplaneAnimate {

    0% {
        position: relative;
        left: 100px;
        top: -100px;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    10% {
        position: relative;
        left: 300px;
        top: -200px;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    20% {
        position: relative;
        left: 500px;
        top: -300px;
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
    }


    30% {
        position: relative;
        left: 700px;
        top: -300px;
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
    }

    40% {
        position: relative;
        left: 900px;
        top: -200px;
        transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        -o-transform: rotate(20deg);
    }

    50% {
        position: relative;
        left: 1100px;
        top: -100px;
        transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        -o-transform: rotate(20deg);
    }


    60% {
        position: relative;
        left: 1300px;
        top: -0px;
        transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        -o-transform: rotate(20deg);
    }


    70% {
        position: relative;
        left: 1500px;
        top: 100px;
        transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        -o-transform: rotate(20deg);
    }

  



}